*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 63.5%;
}

body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}

.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*grid-template-rows: 70% 30%;*/
    width: 80%;
    max-width: 400px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    
}
.imgqr{
    background-image: url(./images/image-qr-code.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 275px;
    width:100%;
    border-radius: 20px;
}
.tarjeta h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    height:40px;
}
.tarjeta p{
    font-family: 'Outfit', sans-serif;
    font-weight:400;
    font-size: 16px;
    margin: 0 10px;
    text-align: center;
    color: grey;
}